// GLOBAL
img {
    width: 100%;
    height: auto;
}
// PAGE WRAPPER
.page-wrapper {
    max-width: 100%;
    padding-bottom: 60px;
}
// TOP BANNER
.desktop-banner {
    position: relative;
    margin-bottom: 45px;
    .banner-text {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 300px;
        margin-left: -50%;
        margin-top: -150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        h1 {
            font-size: 50px;
            font-weight: 600;
            color: #ffffff;
        }
        p {
            font-size: 24px;
            color: #ffffff;
        }
    }
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background: #000000;
        opacity: 0.5;
        width: 100%;
        height: 100%;
    }
    @media screen and (max-width: 767px) {
        display: none;
    }
}
.mobile-banner {
    position: relative;
    display: none;
    .banner-text {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 300px;
        margin-left: -50%;
        margin-top: -150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        h1 {
            font-size: 50px;
            font-weight: 600;
            color: #ffffff;
        }
        p {
            font-size: 24px;
            color: #ffffff;
        }
    }
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background: #000000;
        opacity: 0.5;
        width: 100%;
        height: 100%;
    }
    @media screen and (max-width: 767px) {
        display: block;
    }
}
// GALLERY
.gallery {
    .gal-block {
        padding: 15px;
    }
    .gal-card {
        border: 2px solid #ECECEC;
        padding: 15px;
        border-radius: 10px;
        text-align: center;
        .gal-img {
            margin-bottom: 15px;
            img {
                border-radius: 5px;
            }
        }
        .gal-body {
            min-height: 220px;
            max-height: 220px;
            overflow: hidden;
            @media screen and (max-width: 1199px) {
                min-height: 385px;
                max-height: 385px;
                height: auto;
            }
            @media screen and (max-width: 767px) {
                min-height: unset;
                max-height: unset;
                height: auto;
            }
        }
        .gal-btn {
            margin-top: 15px;
            button {
                color: #000000;
                border: 2px solid #000000;
                border-radius: 30px;
                padding: 5px 20px;
                text-transform: uppercase;
                background: 0;
                font-size: 14px;
                font-weight: 600;
                &:hover {
                    background: #000000;
                    color: #ffffff;
                    transition: all 0.4s;
                }
            }
        }
    }
}